# Data and logs
logs
stores
data
changelog.md

# Other folders
papers
ignore
yomikata/*-artifacts
yomikata/*.tar.gz

# Binaries
*.bin 

# Job scripts
*.sl

# Packaging
venv
dist
*.egg-info
__pycache__

# Misc
.DS_Store
.ipynb_checkpoints
*.out



